
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <form action="/main/Listname" @*action="/main/Listname"*@ method="post">

        <input type="text" name="adin" class="form-control" placeholder="Insert name" />
        <input type="text" name="soyad" class="form-control" placeholder="Insert surname" />
        <input type="submit" class="btn btn-primary" value="Senddana" />


    </form>

    


</body>
</html>
